.carer {
    background-color: var(--main-color);
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    height: 355px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carer h2 {
    font-weight: bold;
}
.carer .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}