p {

  text-align: center;
}
.form {
  display: grid;
  width: min(22em, 98vw);
  gap: 2em;
}
.form > * {
  height: 4em;
  border: .1em solid var(--primary);
  border-radius: .5em;
  padding: .4em 1em ;
  background: transparent;
}
.btn {
  border: 0.15em var(--primary) solid;
  background: var(--primary);
  color: white;
  padding: 0.5em;
  font-weight: bold;
}
.btn-alt {
  color: var(--primary);
  background: transparent;
}

@media (max-width: 767px) {
  .form {
    margin : 0;
  }
  main {
    padding-top: 8em;
  }
}
