footer {
  color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  width: 100%;
  font-size: 18px;
  margin-top: auto;
}

footer .logo-container {
  height: 4em;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: .05em solid var(--primary);
}
footer .logo-container img {
  height: 12em;
}
footer .social-icons {
  margin: 1em 0 .5em 0;
}

footer i {
  margin: 0 .3em;
  color: var(--primary);
}

footer .copyright span {
  font-weight: bold;
  color: var(--primary);
}
footer p {
  font-size: smaller;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
  footer .logo {
    height: max(40%, 12em);
  }
}
