header {
  display: flex;
  padding: 1em 2em 1em 0;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: 100%;
  background: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .logo-container {
  width: max(11em, 25%);
}
header .logo-container img {
  width: 100%;
}
header .contact-info {
  display: flex;
  gap: 1em;
}
header .contact-info div {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
header span {
  font-size: smaller;
}
.bttn {
  border-radius: 0.3em;
  color: white;
  background: var(--primary);
  padding: 0.5em;
  font-size: smaller;
  font-weight: bold;
  padding: .6em;
  width: 5em;
  text-align: center;
}

@media (max-width: 767px) {
  header .contact-info span, header .bttn {
    display: none;
  }
}
