header {
  display: flex;
  padding: 1em 2em 1em 0;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: 100%;
  background: $light;
  position: fixed;
  top: 0;
  
  .logo-container {
    width: 30%;
    img {
      width: 100%;
    }
  }

  .contact-info {
    display: flex;
    gap: 1em;
    div {
      display: flex;
      align-items: center;
      gap: .3em;
    }
  }
  span {
    font-size: smaller;
  }
}
